body{
    margin: 0%;
    padding: 0%;
    background-color:#eeaccb;
}
.div{
    background-color: #b3c8db;
    display: inline-block;
    margin-top: 50px;
    margin-left: 38%;
    margin-right: 40%;
    padding: 30px;
    text-align: center;
    border-radius: 40px;
    border-style: solid;
    height: 500px;
    width: 400px;

}
.inpt1{
    width: 250px;
    height: 25px;
    border-radius: 10px;
}
.inpt2{
    width: 200px;
    height: 25px;
    border-radius: 10px;
}